<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello TO JINJA world</h1>
    <p>This is Day57 in which we have covered things about JINJA like
        -> How we can use if condition and loops also how can we redirect to a specific page when player clicks on any
        button
        ->we can also pass any parameter from our html script to server or python file when the href link which will
        help us to redirec like.
        This will eventually help us to move data from one webpage to another one
        but for this we also have to setup a decorater which can get input
    </p>
    <button><a href="{{ url_for('GetBlog', num=3) }}">GoToBlogs</a> </button>
</body>

</html>